# nix puts stuff under the symlink name 'result*'
result*

# direnv
.envrc
.direnv
*.swp

# left around by pg_upgrade
/delete_old_cluster.sh

# shell history
.history
container.sh
sbom.spdx.json
sbom.cdx.json
sbom.csv
graph*.png
init.sh
postgres*
build.log
