name: Docker

on:
  push:
    branches: [ 'main' ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runner: [ "X64", "arm-runner" ]
    name: "update: build and deploy postgres server images"
    runs-on: [ self-hosted, "${{ matrix.runner }}" ]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          fetch-depth: 0
      - uses: actions/checkout@v3

      - name: Build images
        run: |
          nix build .#psql_14/docker -o result-docker-14
          nix build .#psql_15/docker -o result-docker-15

      - name: Tag images
        run: |
          set -x
          for x in 14 15; do
            docker load -i result-docker-$x
            docker tag postgresql-$x:latest ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-$x:${GITHUB_SHA}
            docker tag postgresql-$x:latest ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-$x:latest
          done

      - name: Log in to the Container registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image to the Container registry
        run: |
          set -x
          for x in 14 15; do
            docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-$x:${GITHUB_SHA}
            docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-$x:latest
          done
